/* rewrite */
.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-primary {
    background: rgba(102, 255, 204, 0.8);
    color: black;
}

/* rewrite END */



.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-family: "Comic Sans MS";
}

.leftArea,
.rightArea{
    position: relative;
    float: left;
    width: 20%;
    height: 96%;
    padding: 1%;
}

.leftArea {
    border-right: 1px solid rgba(0,0,0, 0.3);
}

.rightArea {
    border-left: 1px solid rgba(0,0,0, 0.3);
}

.studentBlock {
    position: relative;
    width: 89%;
    height: 100px;
    padding: 5%;
    border: 1px solid rgba(0,0,0, 0.3);
}

.studentBlock > span,
.imgBlock > span,
.soundBlock > span {
    position: absolute;
    top: -14px;
    left: 20px;
    padding: 0 5px;
    background: white;
}

.studentBtnBlock{
    position: relative;
    width: 100%;
    height: 70px;
}

.studentBtn {
    position: relative;
    top: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: inline-block;
    transition: opacity 0.25s ease-out;
}

#addStudentBtn {
    background: url(../img/addStudent.png) no-repeat;
    background-size: contain;
}
#editStudentBtn,
#removeStudentBtn {
    margin-left: 20px;
}

#editStudentBtn {
    background: url(../img/editStudent.ico) no-repeat;
    background-size: contain;
}

#removeStudentBtn {
    background: url(../img/removeStudent.png) no-repeat;
    background-size: contain;
}

.studentsList {
    position: relative;
    width: 100%;
    padding: 2px;
    font-size: 20px;
    text-align: center;
}

.studentList option{}
.studentList option:checked {}


.wordList {
    max-height: calc(100% - 200px);
    min-width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 2em;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: rgba(102, 255, 204, 0.8);
    overflow: auto;
}

.wordList li {
    padding: 5px 10px;
    color: black;
    cursor: pointer;
}
.wordList li:hover {  text-shadow: 2px 2px 10px black, 0 0 0 transparent;  }
.highlightedWord {
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
    background: rgb(91, 198, 203);
    color: white !important;
}

.content {
    position: relative;
    float: left;
    height: 96%;
    width: 50%;
    padding: 1%;
}

.completeWord {
    position: relative;
    width: 100%;
    font-size: 7em;
    overflow: scroll;
    text-align: center;
}

.imgAreaWrapper {
    position: relative;
    height: 70%;
    width: 100%;
}

.imgArea{
    border-radius: 20px;
    height: 100%;
     width: 100%;
    margin: 0 auto;
}

.wordArea{
    position: fixed;
    bottom: 2%;
    width: 50%;
    display: table;
}

.inputWord{
    position: relative;
    height: 100%;
    width: 85%;
    font-size: 3em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) inset;
}

#listenBtn {
    position: relative;
    width: 18%;
    cursor: pointer;
    background: url(../img/soundBtn.png) no-repeat;
    background-size: contain;
    transition: opacity 0.25s ease-out;
    display: table-cell;
    vertical-align: middle;
}

#listenBtn.playing {
    background: url(../img/soundPauseBtn.png) no-repeat;
    background-size: contain;
}

#placeholderBtn {
    position: relative;
    height: 50px;
    left: -5%;
    width: 15%;
    font-size: 2em;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    user-select: none;
    transition: opacity 0.25s ease-out;
 }

#placeholderBtn.disabled {
    text-decoration: line-through;
}

.btnArea {
    position: relative;
    left: 2%;
    width: 100%;
}

.button {
    position: relative;
    margin-top: 20px;
    width: 100%;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: rgba(102, 255, 204, 0.8);
    display: table;
}
.button:first-child {  margin-top: 0;  }
#soundBtn {  margin-top: 90px;  }

.button > span {
    vertical-align: middle;
    display: table-cell;
}

.button:hover,
.popupBtn:hover{
    color: white;
    box-shadow: none;
}

.closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    transform: scale(0.5);
    background: url(../img/close.png) no-repeat;
}

.imgBtn {
    height: 50px;
    width: 50px;
    float: left;
    cursor: pointer;
    background-size: contain !important;
}

.imgBtnBlock,
.soundBtnBlock{
    position: relative;
    left: 20px;
    width: 200px;
    margin-top: 10px;
    height: 50px;
    display: inline-block;
}

.imgBtnBlock span,
.soundBtnBlock span{
    position: relative;
    float: left;
    left: 15px;
    top: 15px;
}

.soundBtnBlock span {
    top: 5px;
}

.soundBtnBlock {
    left: 0;
    top: 60px;
    height: 30px;
 }

.soundBtnBlock > div{
    float: left;
    left: 0 !important;
    top: 0 !important;
}

.hintBlock {
    position: relative;
    top: 140px;
    width: 100%;
    height: 100px;
    color: rgba(0,0,0,0.7);
}

.wordPopupImgInput {
    display: none;
}

#wordPopupRotateImgBtn {
    background: url(../img/rotateImgBtn.png) no-repeat;
}

#wordPopupDownloadImgBtn {
    background: url(../img/downloadImg.png) no-repeat;
}

#wordPopupRemoveImgBtn {
    background: url(../img/removeImgBtn.png) no-repeat;
}

.wordPopupWrapper,
.soundPopupWrapper,
.fontPopupWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    font-family: "Comic Sans MS", cursive, sans-serif;

    background: rgba(100, 100, 100, 0.8);
    display: none;
}

.wordPopupWrapper {
    top: -100%;
    opacity: 0;
    transition: top 0.5s ease,
                opacity 0.5s ease;
    display: block !important;
}

.wordPopupWrapper.open {
    top: 0;
    opacity: 1;
}

.wordPopup{
    position: relative;
    margin: 0 auto;
    height: 540px;
    width: 1000px;
    padding: 20px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: white;
}

.soundPopup,
.fontPopup{
    position: relative;
    top: 20%;
    margin: 0 auto;
    height: 255px;
    width: 690px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: white;
}

.soundPopup {
    width: 1000px;
}

.soundPopup .label,
.fontPopup .label {
    position: relative;
    top: 5px;
    left: 15px;
    width: 250px;
    overflow: hidden;
    display: inline-block;
}

.fontPopup {
    height: 100px;
}

.fontPopup .label {
    width: 420px;
}

.fontPopup .popupBtn {
    top: 10px;
    left: -8px;
    float: left;
}

.fontPath {
    position: relative;
    top: 10px;
    float: right;
    width: 450px;
}

#soundPopupResetBtn {
    position: absolute;
}


#soundPopupCancelBtn{
    float: right;
}



.soundBox {
    margin: 20px 0;
    border-radius: 10px;
    height: 50px;
}

.fontName,
.fontStyle,
.fontSize {
    height: 50px;
    font-size: 20px;
    width: 220px;
}

.fontStyle,
.fontSize {
    margin-left: 8px;
}

#win {
    margin: 0 0;
    background: blueviolet;
}
#correct{background: rgba(153, 255, 204, 0.5);}
#wrong {background: rgba(255, 51, 0, 0.5);}



.soundPopup input {
    position: relative;
    overflow: hidden;
}
.soundPopup input[type='number'] {width: 40px;}
.soundPopup input[type='file'] {
    top: 5px;
    width: 290px;
}

.playBtn {
    position: relative;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: url(../img/playMusicBtn.png) no-repeat;
    background-size: contain;
    display: inline-block;
    transition: opacity 0.25s ease-out;
}

.playBtn:active,
.studentBtn:active,
#removeWordSignalBtn:active,
#recordWordSignalBtn:active,
#listenBtn:active {
    opacity: 0;
}

.playBtn.playing {
    background: url(../img/pauseMusicBtn.png) no-repeat;
    background-size: contain;
}

#removeWordSignalBtn {
    position: relative;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: url(../img/redCross.png) no-repeat;
    background-size: contain;
    display: inline-block;
    transition: opacity 0.25s ease-out;
}

.imgBlock {
    position: relative;
    float: left;
    width: 60%;
    height: 450px;
    padding: 10px;
    outline: 1px solid rgba(0,0,0, 0.3);
}

.imgAreaBlock {
    position: relative;
    float: left;
    width: 400px;
}

.soundBlock {
    position: relative;
    float: left;
    width: 33%;
    left: 10px;
    height: 450px;
    padding: 10px;
    outline: 1px solid rgba(0,0,0,0.3);
}

.soundBlock .label {
    position: relative;
    top: 10px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
}

.soundBlock input {
    position: relative;
    top: 30px;
}

.wordBlock {
    position: relative;
    top: 20px;
    float: left;
    width: 100%;
}

#recordWordSignalBtn {
    position: relative;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: url(../img/recordBtn.png) no-repeat;
    background-size: contain;
    display: inline-block;
    transition: opacity 0.25s ease-out;
}

.uploadImgArea{
    position: relative;
    height: 400px;
    width: 400px;
    text-align: center;
    color: rgb(150, 150, 150);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
    background: rgba(200, 200, 200, 0.8);
    display: table;
}

.uploadImgArea > span {
    vertical-align: middle;
    display: table-cell;
}

.uploadImgArea.loaded > span {
    display: none;
}

.rotated90 {transform: rotate(90deg);}
.rotated180 {transform: rotate(180deg);}
.rotated270 {transform: rotate(270deg);}

.sizeBarDescription {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.sizeBarDescription span {
    position: absolute;
    padding-left: 10px;
}

.imgSizeBarWrapper {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    height: 18px;
    cursor: pointer;
    overflow-x: scroll;
}

.imgSizeBar {
    width: 1000%;
    height: 10px;
}

.wordImgSizeBarWrapper {
    position: fixed;
    bottom: 15%;
    height: 4%;
    width: 50%;
    min-height: 20px;
    border-top: 1px solid rgba(0,0,0,0.3);
    cursor: pointer;
    overflow-x: scroll;
}

.wordImgSizeBar {
    width: 1000%;
    height: 100%;
    cursor: pointer;
}

.inputWordArea{
    position: relative;
    height: 45px;
    width: 400px;
    padding-left: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2em;
}

.popupBtn{
    position: relative;
    float: right;
    margin-left: 10px;
    height: 50px;
    width: 220px;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: rgba(102, 255, 204, 0.8);
    display: table;
}

.popupBtn > span {
    vertical-align: middle;
    display: table-cell;
}

#wordPopupSaveBtn,
#wordPopupCancelBtn {
    width: 170px;
}


/* custom scrollbar */
::-webkit-scrollbar {  width: 10px;  }
::-webkit-scrollbar-track {  border-radius: 10px;  }
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #999;
}



/* animations */
.mainCorrectInput{
    background: rgba(153, 255, 204, 0.5);
    animation: blink 0.5s ease-out;
}

.mainWrongInput {
    background: rgba(255, 51, 0, 0.5);
    animation: blink 0.5s ease-out;
}

.mainWinInput {
    background: blueviolet;
    animation: blink 0.5s ease-out;
}

.blink {
    animation: blink 0.5s ease-out;
}

@keyframes blink {
    0%   {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 0}
}

@keyframes inverse-blink {
    0%   {opacity: 1}
    50%  {opacity: 0}
    100% {opacity: 1}
}
